<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= comConfig.name %>的demo</title>
    <script src="http://a.tbcdn.cn/s/kissy/1.3.0/kissy-min.js" charset="utf-8"></script>
</head>
<body>
<h2><%= comConfig.name %>的demo</h2>

<script>
    var S = KISSY;
    if (S.Config.debug) {
        var srcPath = "../../../";
        S.config({
            packages:[
                {
                    name:"gallery",
                    path:srcPath,
                    charset:"utf-8",
                    ignorePackageNameInUri:true
                }
            ]
        });
    }

    S.use('gallery/<%= comConfig.name %>/<%= comConfig.version %>/index', function (S, <%= comConfig.componentClass %>) {
         var <%= comConfig.name %> = new <%= comConfig.componentClass %>();
    })
</script>
</body>
</html>
